<%- include('header')%>
<h1>About The App</h1>

<center>
    <h3>
        The following are some of the key functionalities and technologies
        utlised for this app.
    </h3>
</center>
<br />



    <%- include('footer')%>
</div>
