<%- include('header')%>
<h1>About The App</h1>

<center>

<div class="centerAbout">
    <h4>
        Features for the users.
    </h4>

    
    <p>
 
            <li>It allows a user to register, login and search for jobs.</li>
            <li>It further allows a user to save job opportunities for later reviewing.</li>
            <li>A user can then track and update the status of any career opportunities applied for by adding applicadication dates, personnel contact information, interview dates, follow-up dates along with any remarks/notes.</li>
            <li>A user can also delete/remove saved jobs when no longer applicable.</li>

    </p>
    
    <h4>
        Features about the application:
    </h4>
    <p>
    
            <li>Core applications/technologis used are: Javascript, CSS/HTML, Node, Express and Postgres SQL</li>
            <li>Passwords are hashed prior before database storing.</li>
            <li>Axios utilsed for processing RESTFUL API requests</li>
            <li>Bootstrap utilised for GUI</li>

    </p>
</div>
</center>

<br />



    <%- include('footer')%>
</div>
