<%- include('header')%>
<h1>Contact Us</h1>

<center>
    <div class="borderForm">
        <h1>We'd love to hear from you</h1>
        <p>
            If you have a question about features or working of this website, or
            would to like see other projects done by us, please click on links
            below to our personal Github pages.
        </p>
    </div>
</center>

<link
    href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    rel="stylesheet"
    id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<section class="our-team padding-lg">
    <div class="container">
        <!-- <div class="row heading heading-icon">
            <h2>Our Team</h2>
        </div> -->
        <ul class="row">
            <!-- glen jones -->
            <li class="col-sm">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure>
                        <img
                            src="../images/Glen-Avatar.png"
                            class="img-responsive"
                            alt=""
                        />
                    </figure>
                    <h3>
                        <a href="https://www.glenjones.com.au/" target="_blank"
                            >Glen Jones</a
                        >
                    </h3>
                    <p>Software Engineer</p>
                    <ul class="follow-us clearfix">
                        <li>
                            <a
                                href="https://www.linkedin.com/in/mrglenjones/"
                                target="_blank"
                                ><i
                                    class="fa fa-linkedin"
                                    aria-hidden="true"
                                ></i
                            ></a>
                        </li>
                        <li>
                            <a
                                href="https://github.com/mistergjones"
                                target="_blank"
                                ><i class="fa fa-github" aria-hidden="true"></i
                            ></a>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- Peter H -->
            <li class="col-sm">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure>
                        <img
                            src="../images/Glen-Avatar.png"
                            class="img-responsive"
                            alt=""
                        />
                    </figure>
                    <h3>
                        <a
                            href="http://peter-hristakos.surge.sh/"
                            target="_blank"
                            >Peter Hristakos</a
                        >
                    </h3>
                    <p>Software Engineer</p>
                    <ul class="follow-us clearfix">
                        <li>
                            <a
                                href="https://www.linkedin.com/in/peter-hristakos/"
                                target="_blank"
                                ><i
                                    class="fa fa-linkedin"
                                    aria-hidden="true"
                                ></i
                            ></a>
                        </li>
                        <li>
                            <a
                                href="https://github.com/Hristakos"
                                target="_blank"
                                ><i class="fa fa-github" aria-hidden="true"></i
                            ></a>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- Shailesh -->
            <li class="col-sm">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure>
                        <img
                            src="../images/Glen-Avatar.png"
                            class="img-responsive"
                            alt=""
                        />
                    </figure>
                    <h3>
                        <a href="http://shaileshkarki.surge.sh/" target="_blank"
                            >Shailesh Karki</a
                        >
                    </h3>
                    <p>Software Engineer</p>
                    <ul class="follow-us clearfix">
                        <li>
                            <a
                                href="https://www.linkedin.com/in/shaileshkarki"
                                target="_blank"
                                ><i
                                    class="fa fa-linkedin"
                                    aria-hidden="true"
                                ></i
                            ></a>
                        </li>
                        <li>
                            <a
                                href="https://github.com/shaileshkarki"
                                target="_blank"
                                ><i class="fa fa-github" aria-hidden="true"></i
                            ></a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>

<%- include('footer')%>
