<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
        />

        <title>Dashboard</title>

        <style>
            h1 {
                text-align: center;
            }
            .grid-container {
                display: grid;
                grid-gap: 10px;
                grid-template-columns: auto auto;
                background-color: #2196f3;
                padding: 10px;
            }

            .grid-item {
                background-color: rgba(255, 255, 255, 0.8);
                border: 1px solid rgba(0, 0, 0, 0.8);
                padding: 5px;
                font-size: 30px;
                text-align: center;
            }
        </style>
    </head>
    <body> -->
<%- include('header')%>
<h1>
    <!-- make the first letter of the firstname uppercase -->
    Welcome <%= user.charAt(0).toUpperCase()+ user.slice(1)%> to the DASHBOARD
</h1>

<div class="grid-container">
    <div class="grid-item"><a href="/viewjobs">View all jobs</a></div>
    <div class="grid-item"><a href="/jobs">Refresh API</a></div>
    <div class="grid-item"><a href="/appliedJobs">My Jobs</a></div>
</div>
<center><img
        src="https://belikebill.ga/billgen-API.php?default=1&name=<%= user.charAt(0).toUpperCase()+ user.slice(1)%>"
        class="img-fluid img-thumbnail" /></center>

<%- include('footer')%>