<footer>
  <center>
    <p>
      Developed by: Glen, Peter & Shailesh
    </p>
    <p>Copyright &copy; <%= new Date().getFullYear()%></p>
  </center>
</footer>
<script src="/javascripts/navbar.js"></script>
</body>

</html>