<%- include('head')%>

<body>
    <div class="header">
        <div class="header-banner">
            <center>
                <h1 class="head-logo">Job Tracker</h1>
            </center>
        </div>
        <nav>
            <ul>
                <a href="/">
                    <li class="nav-link active">
                        <i class="fa fa-home"></i>Home
                    </li>
                </a>
                <a href="/about">
                    <li class="nav-link">
                        <i class="fa fa-info-circle"></i>About Us
                    </li>
                </a>
                <a href="/contact">
                    <li class="nav-link">
                        <i class="fa fa-phone"></i>Contact Us
                    </li>
                </a>
                <% if(!locals.user){%>
                <a href="/users/login">
                    <li class="nav-link"><i class="fa fa-user"></i>Login</li>
                </a>
                <%} else {%>
                <a href="/users/dashboard">
                    <li class="nav-link">
                        <i class="fa fa-tasks"></i>Dashboard
                    </li>
                </a>
                <a href="/users/logout">
                    <li class="nav-link"><i class="fa fa-user"></i>Logout</li>
                </a>
                <%}%>
            </ul>
        </nav>
    </div>
</body>
