<%- include('head')%>

<body>
  <div class="header">
    <div class="header-banner">
      <center>
        <h1>Job Tracker</h1>
      </center>
    </div>
    <nav>
      <ul>
        <li class="active nav-link">
          <a href="/"><i class="fa fa-home"></i>Home</a>
        </li>
        <li class="nav-link">
          <a href="/about"><i class="fa fa-info-circle"></i>About Us</a>
        </li>
        <li class="nav-link">
          <a href="#"><i class="fa fa-edit"></i>Jobs</a>
        </li>
        <li class="nav-link">
          <a href="/contact"><i class="fa fa-phone"></i>Contact Us</a>
        </li>
        <% if(!locals.user){%>
        <li class="nav-link">
          <a href="/users/login"><i class="fa fa-user"></i>Login</a>
        </li>
        <%} else {%>
        <li class="nav-link">
          <a href="/users/dashboard"><i class="fa fa-tasks"></i>Dashboard</a>
        </li>
        <li class="nav-link">
          <i class="fa fa-user"></i><a href="/users/logout">Logout</a>
        </li>
        <%}%>
      </ul>
    </nav>
  </div>