<%- include('header')%>
<h1>Welcome to Job Tracker</h1>

<% if (typeof message !== 'undefined' ) { %>
<p><%= message %></p>
<% } %>
<p>
    <center>You can use this website to manage your job search experience.</center>
</p>
<%- include('footer')%>