<%- include('header')%>

<% if (typeof message !== 'undefined' ) { %>
<p><%= message %></p>
<% } %>
<div>
    <h1 class="typing">Welcome to Job Tracker</h1>
    <p class="typing-paragraph">
        You can use this website to manage your job search experience.
    </p>
</div>
<div class="home-main-logo">
    <div class="img-center-logo">

        <img src="/logo.png" alt="">
    </div>
</div>
<%- include('footer')%>