<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
        />
        <title>Job Tracker - User Registration</title>
    </head>
    <body>
        <h1>Registration Page</h1>

        <!-- display the error message here upon clicking the REGISTER button -->
        <ul>
            <% if(typeof errors != 'undefined') { %> <% errors.forEach(error =>
            { %>
            <li><%=error.message%></li>
            <% }) %> <% } %>
        </ul>

        <form action="/users/register" method="POST">
            <div>
                <input
                    type="text"
                    name="firstname"
                    id="firstname"
                    placeholder="Firstname"
                    required
                />
            </div>

            <div>
                <input
                    type="text"
                    name="lastname"
                    id="lastname"
                    placeholder="Lastname"
                    required
                />
            </div>

            <div>
                <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Email"
                    required
                />
            </div>

            <div>
                <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="Password"
                    required
                />
            </div>
            <div>
                <input
                    type="password"
                    name="password2"
                    id="password2"
                    placeholder="Confirm Password"
                    required
                />
            </div>

            <div>
                <input type="submit" value="Register" />
            </div>
            <div>
                <a href="/users/login">Already Registered? Login here</a>
            </div>
        </form>
    </body>
</html>
