/* @import url(https://fonts.googleapis.com/css?family=Roboto:400, 300, 500); */
*:focus {
    outline: none;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: #ddd;
    font-size: 16px;
    color: #222;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.input-container {
    position: relative;
    width: 100%;
    height: 50px;
}

.input-container label {
    position: absolute;
    top: 12px;
    left: 0px;
    font-size: 16px;
    color: dodgerblue;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    font-family: "Libre Franklin", sans-serif;
}
.input-container input {
    border: 0;
    border-bottom: 1px solid dodgerblue;
    /* background:transparent; */
    width: 100%;
    padding: 8px 0 5px 0;
    font-size: 16px;
    /* color: white; */
    /* cursor: pointer; */
    color: #797979;
    font-family: "Libre Franklin", sans-serif;
}

.input-container input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid dodgerblue;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label {
    top: -12px;
    font-size: 12px;
}

.error {
    color: red;
    font-size: 16px;
}

#login-box {
    position: relative;
    margin: 5% auto;
    width: 600px;
    height: 600px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
}

h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

input[type="text"],
input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #aaa;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    /* border-bottom: 2px solid #16a085; */
    color: #16a085;
    transition: 0.2s ease;
}

input[type="submit"] {
    /* margin-top: 28px; */
    width: 120px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

.or {
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: #ddd;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background: url("https://goo.gl/YbktSj");
    background-size: cover;
    background-position: center;
    border-radius: 0 2px 2px 0;
}

.right .loginwith {
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #fff;
    text-align: center;
}

button.social-signin {
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
}

button.social-signin:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
}

button.social-signin.facebook {
    background: #32508e;
}

button.social-signin.twitter {
    background: #55acee;
}

button.social-signin.google {
    background: #dd4b39;
}

.btn-submit {
    margin-bottom: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #2296f3;
    color: white;
    width: 100%;
}

h1 {
    text-align: center;
}
/* .grid-container {
  display: grid;
  place-items: center;
  grid-gap: 10px;
  grid-template-columns: auto auto;
  background-color: #2196f3;
  padding: 10px;
} */

/* the below is used for showing the job results. show.ejs */
.grid-container {
    margin: 5% 15%;
    display: grid;
    /* grid-template: 50px / auto auto auto; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    background-color: #2196f3;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.show-grid-container {
    display: grid;
    grid-template-columns: 0.5fr 1.2fr 0.5fr;
    grid-gap: 10px;
    background-color: #2196f3;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.8);
}
/* .grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  /* text-align: center; 
  padding: 10px 0;
  font-size: 12px;
} */
.grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    background-color: #d6e9fd;
    padding: 5px;
    font-size: 30px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.grid-item > strong {
    padding: 0 10px;
}
#applied-jobs-wrapper {
    position: relative;
    margin: 25px 50px;
}

#applied-jobs {
    width: 100%;
    height: 100%;
}
tr {
    padding: 0;
}
td {
    vertical-align: middle;
    text-align: center;
}
table > tbody > tr > td {
    vertical-align: middle;
}

/* .view-job-grid-container > div {
  border: 1px solid #2296f3;
  padding: 20px;
} */

.item1,
.item2,
.item3 {
    display: grid;
    align-items: center;
    justify-content: center;
}

.modal-title {
    font-weight: 600;
}
.modal-body {
    font-size: medium;
}
.modal-span {
    font-weight: 500;
    text-decoration: underline;
}
.modal {
    text-align: center;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    vertical-align: middle !important;
}
.form-horizontal {
    display: inline !important;
}

.alert-message {
    text-align: center;
    color: red;
    font-size: large;
    border: 3px solid yellow;
}

.control-label {
    text-align: center;
}

.col-sm-4 {
    padding-right: 1px !important;
    padding-left: 0 !important;
}

.loader {
    display: none;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
}
.show {
    display: block;
}
.hide {
    display: none;
}
/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.typing {
    overflow: hidden;
    white-space: nowrap;
    animation: typingAnim 5s steps(50);
    color: black;
}

.typing-paragraph {
    /* animation-delay: 4s; */
    overflow: hidden;
    white-space: nowrap;
    animation: cssAnimation 5s steps(50) 5s;
    color: black;
    text-align: center;
}
@keyframes cssAnimation {
    from {
        width: 0;
        visibility: hidden;
    }
    to {
        width: 100%;
        visibility: visible;
    }
}

@keyframes typingAnim {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* the below is used for the about us webpage */
.row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner {
    border: 1px solid #999999;
    text-align: center;
    margin-bottom: 28px;
    padding: 40px 25px;
}
.our-team .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border: 0;
}
.practice-area .inner h3 {
    color: #3c3c3c;
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 10px 0;
}
.practice-area .inner p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}
.practice-area .inner img {
    display: inline-block;
}

/* .our-team {
    background: url("http://www.team.com/img/right-sider-banner.png")
        no-repeat center top / cover;
} */
.our-team .cnt-block {
    float: left;
    width: 100%;
    background: #fff;
    padding: 30px 20px;
    text-align: center;
    border: 2px solid #d5d5d5;
    margin: 0 0 28px;
}
.our-team .cnt-block figure {
    width: 148px;
    height: 148px;
    border-radius: 100%;
    display: inline-block;
    margin-bottom: 15px;
}
.our-team .cnt-block img {
    width: 148px;
    height: 148px;
    border-radius: 100%;
}
.our-team .cnt-block h3 {
    color: #2a2a2a;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-transform: uppercase;
}
.our-team .cnt-block h3 a {
    text-decoration: none;
    color: #2a2a2a;
}
.our-team .cnt-block h3 a:hover {
    color: #337ab7;
}
.our-team .cnt-block p {
    color: #2a2a2a;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}
.our-team .cnt-block .follow-us {
    margin: 20px 0 0;
}
.our-team .cnt-block .follow-us li {
    display: inline-block;
    width: auto;
    margin: 0 5px;
}
.our-team .cnt-block .follow-us li .fa {
    font-size: 24px;
    color: #767676;
}
.our-team .cnt-block .follow-us li .fa:hover {
    color: #025a8e;
  }

.typing{
  overflow: hidden;
  white-space: nowrap;
  animation: typingAnim 3s steps(50);
  color: black;
}

.typing-paragraph{
  overflow: hidden;
  white-space: nowrap;
  animation: cssAnimation 3s steps(50);
  display: none;
  text-align: center;
  color: white;
}
@keyframes cssAnimation {
  from{
    visibility: hidden;
    width: 0;
  }
  to{ 
    width:100%;
    visibility: visible;
   }
}

@keyframes typingAnim{
  from { width: 0 }
  to { width: 100% }
}

.home-main-logo{
  display:grid;
  place-items: center;
  background-color: hsl(216,100%,94%);
  background: linear-gradient(to right top, #2958039d, #2396f3);
  margin: 0 auto;
  border-radius: 10px;
  width:60%;
}
.img-center-logo{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.header-logo{
  display: float;
  float:left;
  width:100px;
  height:100px;
  margin-top:5px;
  margin-left:25px;
}
.header-logo>img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}